extends layout

block content
    script(src="/js/redirect_handler.js")
    style(src='/stylesheets/redirect.css')
    div.showbox
        div.loader
            svg.circular(viewBox="25 25 50 50")
                circle.path(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')

